[Unit]
Description=This is the timer that will make weather.service go off every hour

[Timer]
Unit=weather.service
OnBootSec=0s
OnUnitActiveSec=3600

[Install]
WantedBy=timers.target
